<%for(var i=0;i<workers.length;i++){%>
    <div class="card1">
        <div>
            <p><i class="fa-solid fa-user"></i>
            <h3>
                <%=workers[i].name%>
            </h3>
            </p>
            <P class="card1-sweep">sweeper</P>
        </div>
        <div>
            <p>26,jul,2017-26,jun,2019</p>
        </div>
    </div>
    <%}%>