<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="css/main.css" />
  <script src="https://kit.fontawesome.com/9743e5433c.js" crossorigin="anonymous"></script>
  <title>Shinemasters</title>
</head>

<body>
  <section class="nav-bar">
    <div class="nav-bar-image">
      <img class="nav-bar-img" src="img/main/logo-transparent-png.png" alt="LOGO" />
    </div>

    <div class="nav-bar-list">
      <ul>
        <li>Home</li>
        <li>Services</li>
        <li>Pricing</li>
        <li>About Us</li>
        <li>Contact Us</li>
      </ul>
    </div>

    <div class="nav-bar-button">
      <% if(user){ %>
        <a class="links" href="/userdashboard?id=<%= user._id %>"><button>Welcome, <%= user.name %></button></a>
        <a class="links" href="/userdashboard?id=<%= user._id %>"><button>DASHBOARD</button></a>
        <!-- <li class="links">Welcome, <%= user.name %></li> -->
        <% } else { %>
          <a class="links" href="/userregisteration"><button>REGISER</button></a>
          <a class="links" href="/userlogin"><button>LOGIN</button></a>
          <% } %>
    </div>
  </section>

  <section class="mid0"></section>

  <section class="mid1">
    <div class="mid1-part1">
      <p class="mid1-text">INDIAS</p>
      <p class="trusted">TRUSTED</p>
      <p class="mid1-text">HOME</p>
      <p class="mid1-text">MAKERS</p>

      <p class="mid1-part1-text">
        Shinemasters is the simplest way to get your life in order with the
        right domestic help
      </p>

      <!-- <button>BOOK NOW</button> -->
    </div>

    <div class="mid1-part2">
      <div class="mid1-part2-image">
        <img src="img/main/m1.jpeg" alt="" />
        <img src="img/main/m2webp.webp" alt="" />
        <img src="img/main/m3.jpeg" alt="" />
        <img src="img/main/m4.webp" alt="" />
      </div>
    </div>
  </section>

  <section class="mid2">
    <div>
      <p class="mid2-t1">Our Featured Services</p>
      <p class="mid2-t2">Hire professionals,</p>
      <p class="mid2-t2">trained specifically for your needs</p>
      <p class="mid2-t4">
        Shinemasters offers completely certified workers with an complimentary
        replacement policy
      </p>
    </div>
  </section>
  <section class="mid3">
    <a href="/worker?service=cleaner">
      <div class="mid3-card1">
        <img class="mid3-card1-img1" src="img/main/k1.png" alt="" />
        <p>Cleaner</p>
        <img class="mid3-card1-img2" src="img/main/rating.png" alt="" />
      </div>
    </a>

    <a href="/worker?service=washer">
      <div class="mid3-card1">
        <img class="mid3-card1-img1" src="img/main/k2.png" alt="" />
        <p>Washer</p>
        <img class="mid3-card1-img2" src="img/main/rating.png" alt="" />
      </div>
    </a>

    <a href="/worker?service=cook">
      <div class="mid3-card1">
        <img class="mid3-card1-img1" src="img/main/k3.png" alt="" />
        <p>COOK</p>
        <img class="mid3-card1-img2" src="img/main/rating.png" alt="" />
      </div>
    </a>

    <a href="/worker?service=gardener">
      <div class="mid3-card1">
        <img class="mid3-card1-img1" src="img/main/k4.jpg" alt="" />
        <p>GARDENER</p>
        <img class="mid3-card1-img2" src="img/main/rating.png" alt="" />
      </div>
    </a>

    <a href="/worker?service=painter">
      <div class="mid3-card1">
        <img class="mid3-card1-img1" src="img/main/painter.jpg" alt="" />
        <p>PAINTER</p>
        <img class="mid3-card1-img2" src="img/main/rating.png" alt="" />
      </div>
    </a>


  </section class="bottom-button">
  <a href="/workerregisteration">
    <button class="button-32" role="button">Register as a Worker <i
        class="fa-sharp fa-solid fa-arrow-right fa-sm"></i></button>
  </a>

  <section class="bottom">

    <hr>

    <div class="bottom-one">
      <p>JSS Academy of Technical Education</p>
      <p>Noida, 201301</p>
    </div>

    <div>
      <p>+91 8401-8401-42</p>
    </div>

    <div>
      <p>support@shinemasters.com</p>
    </div>

    <div>
      <p> <i class="fa-brands fa-linkedin"></i> <i class="fa-brands fa-facebook"></i> <i
          class="fa-brands fa-youtube"></i> <i class="fa-brands fa-discord"></i> </p>
    </div>

  </section>

  <section class="copy">
    <p>Copyright © 2023 Shinemasters - All Rights Reserved</p>
  </section>

</body>

</html>