<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/cleaner.css">
    <script src="https://kit.fontawesome.com/faefb97bbf.js" crossorigin="anonymous"></script>
    <title>Shinemasters</title>
</head>

<body>

    <section class="nav-bar">
        <div class="nav-bar-image">
            <img class="nav-bar-img" src="img/main/logo-transparent-png.png" alt="LOGO" />
        </div>
        <div class="nav-bar-list">
            <ul>
                <li><a href="/">Home</a></li>
                <li>Services</li>
                <li>Pricing</li>
                <li>About Us</li>
                <li>Contact Us</li>
            </ul>
        </div>
        <div class="nav-bar-button">
            <a class="links" href="/userdashboard"><button>Dashboard</button></a>
        </div>

    </section>

    <section class="mid1">
        <p>
            <%=service.toUpperCase()+'S'%> we have!
        </p>

    </section>
    <div class="wrapper">
        <section class="mid2">
            <%- include('partials/_display_workers.ejs'); -%>
        </section>
    </div>
</body>

</html>