@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
    padding: 0px;
    margin: 0px;
    font-family: 'roboto', sans-serif;
}

a {
    color: black;
    text-decoration: none;
}

.nav-bar {
    position: sticky;
    top: 0;
    height: 70px;
    background-color: #f7d024;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-bar-img {
    height: 60px;
    width: 232px;
    border-radius: 5px;
    margin-left: 48px;
}

.nav-bar-list ul {
    display: flex;
    list-style: none;
    margin-right: 4px;
}

.nav-bar-list ul li {
    margin: 17px;
    font-weight: bold;
}

.nav-bar-button {
    margin-right: 60px;
}

.nav-bar-button button {
    height: 43px;
    width: 130px;
    background-color: #282828;
    border-radius: 4px;
    color: #ffffff;
    font-weight: bold;
    margin: 8px;
}

.mid1 {
    height: 60px;
    font-weight: bold;
    margin-top: 30px;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    font-family: 'roboto', sans-serif;
}

.mid2 {
    padding: 0px 58px;
    height: 350px;
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
}

.mid2-card1 {
    height: 275px;
    width: 307px;
    border: 2px solid white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    border-radius: 3px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin: 20px;
    background-color: #f7d024;
}

.mid2-card1-bottom {
    margin-bottom: 10px;
}

.profile {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    height: 40px;
    width: 60px;
    border: 1px solid black;
    border-radius: 40px;
    margin-top: 10px;
    margin-bottom: -18px;
}

.info {
    padding: 10px 0px 10px 0px
}

.book_now_button {
    background-color: black;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
    margin-bottom: 13px;
}